<%-include("partials/header");%>
<style>
    .formscontrol{
        height: 100px;
        width: 700px;
    justify-content: center;
    }
</style>
<h1>Compose</h1>
<form action="/compose" method="post">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" name="input">
      </div>
      <label for="exampleFormControlTextarea1" class="form-label">Post</label>
      <div class="mb-3">
        
        <textarea class="formscontrol" rows="4" name="areas"></textarea>
      </div>
      <button type="submit">publish</button>
      </form>

<%-include("partials/footer");%>